body {
  padding: 0;
  margin: 20px;
  height: 340px;
  width: 500px;
}

form.form-journal-entry {
}

form.form-journal-entry textarea {
  height: 200px;
  width: 486px;
}

/*a, a:active, a:focus { outline: none; }*/

#logo {
  padding-bottom: 10px;
}

#indicator {
  display: none;
}
